.App {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  flex-direction: column;
}

.TitleSection {
  display: flex;
  align-items: center;
  background-color: #5db9ff;
  flex-direction: column;
  width: 100%;
  height: 300px;
}

.TitleSection input {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
}

.TitleSection button {
  width: 180px;
  height: 60px;
  margin: 20px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  color: white;
  background-color: #1f68a0;
}

.TitleSection button:hover {
  cursor: pointer;
}

.DisplaySection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DisplaySection h3,
h4 {
  margin: 10px;
}

.DisplaySection img {
  width: 200px;
}
